* {
  box-sizing: border-box;
}
html {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-left: 10px solid #EAEAEA;
  border-right: 10px solid #EAEAEA;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 80px;
}
.grid {
  display: flex;
  flex: 1 0 0;
  text-align: center;
}
.grid-container {
  width: 100%;
}
@media (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
  }
  .grid {
    width: auto;
    flex-basis: auto;
  }
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  background-color: #EAEAEA;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: #EAEAEA;
  height: 40px;
  text-align: center;
  padding: 10px 0;
}
/*Theme*/
h1,
h2,
p {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}
h1 {
  font-size: 1.5em;
  text-align: center;
  font-weight: 300;
}
h2 {
  font-size: 1.2em;
  font-weight: 300;
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
.footer-link {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}
.heart {
  width: 15px;
}
